<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="template1"
      xmlns:sec="http://www.w3.org/1999/xhtml"
>
<head>
    <meta charset="UTF-8">
    <title>Basket</title>
</head>
<body>
<div layout:fragment="content1">
    <div class="container mt-2 mb-5">
        <div class="card">
            <div class="card-header text-center">
                <h3 class="h3">Basket</h3>
            </div>
            <div class="card-body">
                <div>

                </div>
                <table class="table">
                    <thead>
                    <th>Image</th>
                    <th>Book Name</th>
                    <th>Price</th>
                    <th>Quantity</th>
                    <th>Actions</th>
                    </thead>
                    <tbody>
                    <tr th:each="i:${items}">

                        <td>
                            <img th:src="${i.bookImage}" style="width:90px;height:90px"/>
                        </td>
                        <td th:text="${i.bookTitle}"></td>
                        <td th:text="${i.price}"></td>
                        <td th:text="${i.quantity}"></td>
                        <td sec:authorize="hasRole('ROLE_CLIENT')">
                            <a onclick="return confirm('Are you sure ? ')"
                               th:href="@{/client/delete_basket_book(book_id=${i.bookId})}"
                               class="btn btn-danger">Delete</a>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <form method="post" th:action="@{/client/pass_command}">
                    <button type="submit" class="btn btn-primary my-1">Pass command</button>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>