<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="template1"
      xmlns:sec="http://www.w3.org/1999/xhtml"
>
<head>
    <meta charset="UTF-8">
    <title>Details of a command</title>
</head>
<body>
<div layout:fragment="content1">
    <div class="container mt-2 mb-5">
        <div class="card">
            <div class="card-header text-center">
                <h3 class="h3">Details of a command</h3>
            </div>
            <div class="card-body">
                <table class="table">
                    <thead>
                    <th>ID</th>
                    <th>Title</th>
                    <th>Commanded Quantity</th>
                    <th>Unit Price</th>
                    </thead>
                    <tbody>
                    <tr th:each="d:${details}">
                        <td th:text="${d.id}"></td>
                        <td th:text="${d.book.title}"></td>
                        <td th:text="${d.quantity}"></td>
                        <td th:text="${d.book.price}"></td>
                    </tr>
                    </tbody>
                </table>
                <ul class="nav nav-pills">
                    <li th:each="page,status:${pages}" class="mb-2">
                        <a th:class="${status.index==currentPage?'btn btn-primary ms-2':'btn btn-outline-primary ms-2'}"
                           th:text="${status.index}"
                           th:href="@{/client/all_my_not_delivered_commands(page=${status.index})}"
                        ></a>
                    </li>
                </ul>
                <div class="form-group">
                    <label class="text-warning">Total Price : </label>
                    <label th:text="${totalPrice}" class="text-warning"></label>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>